/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: 'wght' var(--f-w-text);
  background-image: var(--bg-gr);
  background-color: var(--bg-clr);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  inline-size: var(--width);
}

.header {
  font-family: var(--font-accent);
  line-height: 1;
  font-weight: var(--f-w-text);
  font-size: 14px;
  text-align: center;
  background-color: var(--bg-clr);
  margin: 100px 0;
  border: 2px solid var(--text-clr);
}

.logo {
  font-size: var(--f-s-logo);
  padding: var(--logo-padding-block-start) 0 20px;
}

.main-title {
  text-transform: uppercase;
  font-size: var(--f-s-main-title);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  inline-size: max-content;
  margin: 25px auto;
}

.theme-menu__item {
  display: flex;
  justify-content: start;
  padding-inline-start: 15px;
}

.button {
  background-color: transparent;
  border: 2px solid var(--text-clr);
}

.theme-menu__button {
  border: none;
  text-align: start;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: block;
  block-size: 13px;
  inline-size: 16px;
  color: var(--text-clr);
  position: absolute;
  inset: 0;
  animation: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--text-clr);
  margin-block-start: 17px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--bg-clr);
  font-size: 18px;
  line-height: 1.2;
  border: 2px solid var(--text-clr);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--f-w-title);
  line-height: 1.2;
  margin: 5px 10px;
}

.card__img {
  inline-size: 100%;
  block-size: var(--width);
  position: relative;
  border-top: 2px solid var(--text-clr);
  border-bottom: 2px solid var(--text-clr);
}

.label {
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  font-weight: var(--f-w-text);
  justify-self: end;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--bg-clr), 
    0 1px var(--bg-clr), 
    1px 0 var(--bg-clr), 
    0 -1px var(--bg-clr);
}

.img-box {
  inline-size: 100%;
}

.img {
  inline-size: 100%;
  object-fit: cover;
}

.card__text {
  padding: 25px 25px 0;
}

.card__buttons {
  padding: 25px;
  display: flex;
  gap: 8px;
  justify-content: end;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-clr);
}

.like-icon {
  inline-size: 24px;
  block-size: 27px;
  padding-block-start: 4px;
}

.like-icon:hover {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-clr);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--contour-clr);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-clr);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--accent-color);
  transition: fill 0.3s 0.06s linear;
}

.is-liked .heart {
  animation: heard-growth 0.3s ease-in backwards 2 alternate;
  animation-delay: 0.1s;
  transform-origin: center center;
}

.is-liked .sparks {
  animation: sparks-flashing 0.3s ease-in backwards 2 alternate;
  animation-delay: 0.3s;
  transform-origin: center center;
}

.button__text {
  font-family: var(--font-accent);
  line-height: 0.9;
  font-size: 14px;
  font-weight: var(--f-w-text);
  position: relative;
  color: var(--mix-blend-mode-clr);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: var(--like-button-width);
}

.button-save {
  background-color: var(--bg-clr);
  padding: 15px 20px;
  margin: 0 auto 100px;
  inline-size: max-content;
}

.card__like-button, .button-save {
  position: relative;
  overflow: hidden;
  box-shadow: 
    0 
    0 
    0 
    0 
    var(--text-clr);;
  transition: box-shadow 0.3s ease;
}

.card__like-button::before, .button-save::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-clr);
  transform: translateX(-100%);
  transform-origin: 0 0;
  transition: transform 0.5s ease;
}

.card__like-button:focus, .button-save:focus {
  outline: none;
}

.card__like-button:focus-visible, .button-save:focus-visible {
  box-shadow: 
    2px 
    2px 
    0 
    0 
    var(--text-clr);;
}

.card__like-button:hover::before, .button-save:hover::before {
  cursor:  pointer;
  transform: translateX(0);
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--mix-blend-mode-clr);
  mix-blend-mode: difference;
}

#save-window {
  inline-size: calc(var(--width) / 2);
  block-size: 195px;
  padding: 30px;
  background-color: var(--bg-clr);
  border: 2px solid var(--text-clr);
}

#save-window[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 30px 20px;
  align-content: center;
}

#save-window .button__text {
  text-transform: uppercase;
}

#save-window > .button__text {
  line-height: 1.5;
}

#save-window .floppy {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

#save-window .button {
  inline-size: 100%;
  block-size: 38px;
  grid-column-end: span 2;

}

#save-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.street {
  filter: brightness(120%);
}

.sunset {
  filter: blur(2px);
}

.mountain {
  filter: opacity(0.8);
}

.fire {
  filter: hue-rotate(10deg) grayscale(0.2);
}

.cosmos {
  filter: contrast(150%);
}

.desk {
  filter: grayscale(0.6) invert(20%);
}

.room {
  filter: saturate(250%);
}

@media (max-width: 376px) {
  .section {
    inline-size: 100vi;
  }

  .label {
    margin: 15px 10px;
  }

  .button-save {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
    margin: 0 auto;  
  }

  #save-window {
    inline-size: 90vi;
    padding-inline: 42px;
    }
}

@supports((text-stroke: 1px var(--bg-clr);) or (-webkit-text-stroke: 1px var(--bg-clr))) {
  .label {
      -webkit-text-stroke: 1px var(--bg-clr);
      text-stroke: 1px var(--bg-clr);
      text-shadow: none;
  }
}