/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: 'wght' var(--f-w-text);
  background-image: var(--bg-gr);
  background-color: var(--bg-clr);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}

.header {
  font-family: var(--font-accent);
  line-height: 1;
  font-weight: var(--f-w-text);
  font-size: 14px;
  text-align: center;
  background-color: var(--bg-clr);
  margin: 100px 0;
}

.border {
  border: 2px solid var(--text-clr);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem) 0 20px;
}

.main-title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  inline-size: max-content;
  margin: 25px auto;
}

.theme-menu__item {
  display: flex;
  justify-content: start;
  padding-inline-start: 15px;
}

.button {
  background-color: transparent;
}

.theme-menu__button {
  border: none;
  text-align: start;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  position: relative;
}

.theme-menu__button:hover {
  animation: opacity-header 0.3s ease forwards;
}

.theme-menu__button:disabled {
  animation: opacity-header 0.3s ease forwards;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: block;
  block-size: 13px;
  inline-size: 16px;
  color: var(--text-clr);
  position: absolute;
  inset: 0;
  animation: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--text-clr);
  margin-block-start: 17px;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  animation: underlined 0.3s ease forwards;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--bg-clr);
  font-size: 18px;
  line-height: 1.2;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--f-w-title);
  line-height: 1.2;
  padding: 3px 24px 3px 10px;
}

.card__img {
  inline-size: 100%;
  block-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  position: relative;
  border-top: 2px solid var(--text-clr);
  border-bottom: 2px solid var(--text-clr);
}

.label {
  position: absolute;
  inset: 0;
  margin: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  font-weight: var(--f-w-text);
  justify-self: end;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--bg-clr), 
    0 1px var(--bg-clr), 
    1px 0 var(--bg-clr), 
    0 -1px var(--bg-clr);
}

.img-box {
  inline-size: 100%;
}

.img {
  inline-size: 100%;
  object-fit: cover;
}

.card__text {
  padding: 25px 25px 0;
}

.card__buttons {
  padding: 25px;
  display: flex;
  gap: 8px;
  justify-content: end;
}

.card__icon-button {
  border: none;
}

.like-icon {
  inline-size: 24px;
  block-size: 27px;
  padding-block-start: 4px;
}

.button__text {
  font-family: var(--font-accent);
  line-height: 0.9;
  font-size: 14px;
  font-weight: var(--f-w-text);
}

.card__like-button {
  padding: 0px 35px;
}

.button-save {
  background-color: var(--bg-clr);
  padding: 15px 20px;
  margin: 0 auto 100px;
  inline-size: max-content;
}

.card__like-button, .button-save {
  position: relative;
  overflow: hidden;
}

.card__like-button::before, .button-save::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-clr);
  transform: translateX(-100%);
  transform-origin: 0 0;
}

.card__like-button:focus, .button-save:focus {
  outline: none;
}

.card__like-button:focus-visible, .button-save:focus-visible {
  animation: shadow 0.3s ease forwards;
}

.card__like-button:hover::before, .button-save:hover::before {
  cursor:  pointer;
  animation: translate 0.5s ease-in-out forwards;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
}

@media (max-width: 376px) {
  .section {
    inline-size: 100%;
  }

  .main-title{
    margin: 2px 0px;
  }

  .card__title {
    margin: 5px 10px;
  }

  .label {
    margin: 15px 10px;
  }

  .button-save {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
    margin: 0 auto;  
  }
}

@supports((text-stroke: 1px var(--bg-clr);) or (-webkit-text-stroke: 1px var(--bg-clr))) {
  .label {
      -webkit-text-stroke: 1px var(--bg-clr);
      text-stroke: 1px var(--bg-clr);
      text-shadow: none;
  }
}