/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: 'wght' var(--f-w-text);
  background-image: var(--bg-gr);
  background-color: var(--bg-clr);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  inline-size: 48vi;
  padding-block-start: 100px;
  background-color: var(--bg-clr);
}

.header {
  border: 1px solid var(--text-clr);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 1px solid var(--text-clr);
}

svg {
  /* для проверки отображения */
  width: 100px;
  padding: 20px;
}

.floppy {

}

@media (width <= 375px) {
  .width {
    inline-size: 100%;
  }
}