/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
    --logo-padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
    --like-button-width: clamp(8.125rem, 9.0053rem + -3.7559vw, 5.625rem);

    --font: Inter-Variable, sans-serif;
    --font-accent: PressStart2P-Regular, sans-serif;
    --f-w-text: 400; 
    --f-w-title: 700;
    --f-s-logo: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --f-s-main-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

    --bg-clr:  #fff;
    --text-shadow: rgba(255, 255, 255, 0.5);
    --accent-color: #f00;
    --text-clr: #000;
    --mix-blend-mode-clr: #fff;
    --contour-clr: #000;
    --sparks-clr: #f00;
    --main-body-clr: #f00;
    --core-clr: #f00;

    --bg-gr: 
        repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);     
}