/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font: Inter-Variable, sans-serif;
    --font-accent: PressStart2P-Regular, sans-serif;
    --f-w-text: 400; 
    --f-w-title: 700;
    /* для темной темы 465 и 785 соотв */

    --bg-clr:  #fff;
    --accent-color: #f00;
    --text-clr: #000;
}